<section id='blurb'>
  <h1>Welcome To Viewing Party!</h1>
  <p id='about'>
    This is an application where you can schedule movie watch parties for your favorite movies.
    Since a party isn't a party without people, Viewing Party allows you to connect with friends and invite
    them to watch movies with you. Register or log in below to get started!
  </p>
</section>

<%= link_to 'Register', new_user_path %>
<% unless current_user %>
  <%= link_to 'Log In', login_path %>
<% end %>
